*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
.navBarItem .sale  span{
  font-weight: 800;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: center;
}
.harry {
  color: var(--green-color);
  text-decoration: none;
  padding-left: 5px;
  padding-right: 2px;
}
.harry:hover {
  color: var(--blue-color);
}
.navbar-light .navbar-nav .nav-link {
  padding: 10px 30px 10px 20px;
  font-weight: 600;
}
.nav-bar span ,
.nav-bar p  {
  font-weight: 400;
}
.offer{
  display: flex;
  justify-content: space-between;
  padding: 15px 0 0;
  background-color: #d1e2e9;
  color: #959595;
}
.red {
  color: red;
}
.black{
  color: black;
}
.p-center{
  margin-right: 88px;
  font-weight: 600;
}
.p-center span {
  font-weight: 800;

}
.btn-lang {
  width: 10%;
  display: flex;
  justify-content: space-around;
}
.btn-lang a {
  color: var(--blue-color);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.btn-lang a:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
/* start NavBar */

.navbar-light .navbar-nav .Kids {
  color: red;
  position: relative;
}
.navbar-light .navbar-nav .Kids::before {
  content: 'sale';
  position: absolute;
  top: -3px;
  right: 4px;
  color: white;
  background-color: #ffac39;
  padding: 3px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 10px;
}
.navbar-light .navbar-nav .Man {
  position: relative;
}
.navbar-light .navbar-nav .Man::before {
  content: 'new';
  position: absolute;
  top: -3px;
  right: 4px;
  color: white;
  background-color: #20f7d5;
  padding: 3px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 10px;
}
.nav-bar .btn {
  color: white;
  background-color: var(--main-color);
  font-weight: 600;
}
.nav-bar .navI {
  position: relative;
}
.nav-bar .navI i {
  color: var(--blue-color);
}
.nav-bar .navI span {
  position: absolute;
  top:2px;
  right: 17px;
  color: var(--blue-color);
}
.realx {
  font-weight: 800;
  color: var(--main-color) !important;
}