*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.productCount {
  padding-left: 30px;
}
.image img {
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
}

.product-body .product {
  box-shadow: 0 0.5rem 1.5rem rgb(0 0 0 / 15%);
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  
}
.product-body .box-info .offical {
  margin-top: 3px;
  color: var(--white-color);
  background-color: var(--main-color);
  padding: 1px 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-size: 13px;
}
.product-body .box-info .name {
  margin-top: 10px;
  font-weight: 600;
  margin-bottom: 5px;
}
.product-body .box-info .brand {
  font-size: 13px;
  margin-bottom: 10px;
  width: 100%;
}
.product-body .box-info .brand span {
  color: #002683;
  font-weight: 800;
  margin-left: 5px;
}
.product-body .box-info .price {
  font-weight: 800;
  margin-bottom: 5px;
}
.product-body .box-info .discoundPrice {
  font-weight: 800;
  color: var(--gray-color);
  margin-right: 15px;
}
.product-body .box-info .discount {
  font-weight: 800;
  color: var(--white-color);
  background-color: #34d0c2;
  padding: 2px 7px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.product-body .box-info .star-icon  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.product-body .box-info .star-icon i{
  margin-right: 3px;
  color:#53cdf1;
}
.product-body .box-info .star-icon .btn i{
  color: var(--blue-color);
}

/* start sidebar */ 
.sidebar {
  padding-top: 60px;
}
.silder-inside {
  padding: 10px;
  box-shadow: 0 0.5rem 1.5rem rgb(0 0 0 / 15%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.silder-inside h3 {
  color: var(--main-color);
}
.silder-inside .use-code {
  font-weight: 600;
  margin-bottom: 10px;
}
.silder-inside .discount {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #eee;

}
.silder-inside .discount p {
  margin: 0;
  font-weight: 800;
  color: var(--main-color);
}
.silder-inside .discount span {
  color: var(--white-color);
  background-color: var(--main-color);
  padding: 2px 10px;
  font-weight: 600;
  font-size: 13px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}